html {
	/********
	Day colors
	*********/
	--color-chocolate: #4F3F38 ;
	--color-chocolate-l: #5F504A ;
	--color-chocolate-d: #483A33 ;
	--color-strawberry: #E060A4 ;
	--color-strawberry-l: #E26EAC ;
	--color-strawberry-d: #CC5896 ;
	--color-vanilla: #F4EAD5 ;
	--color-vanilla-l: #F7F0E1 ;
	--color-vanilla-d: #DDD3BE ;
	/********
	Night colors
	*********/
	--color-espresso: #352C2E;
	--color-espresso-l: #595254;
	--color-espresso-d: #1D181A;
	--color-mint: #B3EAA6;
	--color-mint-l: #C7EFBE;
	--color-mint-d: #83AB79;
	/********
	text colors
	*********/
	--color-text-p: #333333 ;
	--color-text-s: #4D4D4D ;
	--color-text-d: #f9e5bc ;

	--font-limelight:'Limelight', cursive;
	--font-josefin:'Josefin Sans', sans-serif;
	/********
	modular type scale ratio 8:9 "major second" = 1.125
	*********/
	--size-normal-add6: calc( 1rem * 3.247 );
	--size-normal-add5: calc( 1rem * 1.802 );
	--size-normal-add4: calc( 1rem * 1.602 );
	--size-normal-add3: calc( 1rem * 1.424 );
	--size-normal-add2: calc( 1rem * 1.266 );
	--size-normal-add1: calc( 1rem * 1.125 );
	--size-normal: 1rem ;
	--size-normal-sub1: calc( 1rem * 0.889 );
	--size-normal-sub2: calc( 1rem * 0.79 );
	--size-normal-sub3: calc( 1rem * 0.702 );
	/********
	margins so far so good here...but here is variable to let you know I thought about them
	*********/
	--margin-standard: 1rem;
	--margin-standard-add1: 2rem;
	--margin-standard-sub1: .5rem;
}
/***************
typography
***************/
body {
	font-family: var(--font-josefin);
}
figure{
	font-family: var(--font-josefin);
}
h1 {
	font-size: var(--size-normal-add6);
	font-weight: 700;
	line-height: 1.2;

}
h2{
	font-size: var(--size-normal-add5);
	font-weight: 700;
	line-height: 1.3;	
}
h3 {
	font-size: var(--size-normal-add4);
	font-weight: 700;	
}
h4 {
	font-size: var(--size-normal-add3);	
}
h5 {
	font-size: var(--size-normal-add2);	
}
h6 {
	font-size: var(--size-normal-add1);	
}
.text-left {
	text-align: left;
}
.josefin {
	font-family: var(--font-josefin);
}
.limelight {
	font-family: var(--font-limelight);
}
.text-featured {

	border-left: 1rem solid var(--color-strawberry-d);
	border-radius: .5rem ;
	font-weight: 600;
	line-height: 1.8;
	margin: var(--margin-standard);
	padding-left: 1rem;
	text-align: left;
}
.text-tertiary {
	font-size: var(--size-normal-sub2)
}
.list-ul {
	list-style-position: inside;
 	text-align: left;
 	list-style-type: square;
 }

.list-ol {
	text-align: left;
}
blockquote {
	font-weight: 500;
}

/*************************************************
main layout
**************************************************/
html {
	color: var(--color-text-p);
	line-height: 1.6;
}
body {
	background-color: var(--color-chocolate);
	margin: 0 ;
}

h2.top-margin {
	margin-top: 4rem;
}
main {
	background-color: var(--color-vanilla);
	border-radius: 1rem 1rem 0 0;
	margin: auto;
	max-width: 42rem;
	padding: 5rem;
	text-align: center;

}
footer{
	background-color: var(--color-vanilla);
	border-radius: 0 0 1rem 1rem;
	margin: auto;
	max-width: 42rem;
	margin-top: 0;
	text-align: center;
	padding: 5rem;
}



/****************************
header 
*****************************/
header {
  	background: var(--color-chocolate);
  	color: var(--color-strawberry);
  	font-size: 2rem;
  	font-family: var(--font-limelight);
  	padding: 2rem 2rem 0 2rem;
  	text-align: center;
}
/***************
nav
***************/
nav {
	background-color: var(--color-chocolate);
}
nav li{
	display: inline;
	list-style-type: none;
}
/*
you wouldn't belive how many ways I tried to get that double underline! 
This one is so simple. and feels pretty art decoI would like to figure out 
the best way to "fix" the part that stops on y, p's or any letter that drops below the 
(insert corect typography term here) line.
*/
.active {
	text-decoration-line: underline;
	text-decoration-style: double;
}


nav a, nav a:visited {
	background-color: var(--color-choclate);
  	color: var(--color-vanilla);
  	display: inline-block;
  	padding: .1rem 1.3rem;  
  	text-align: center;
  	text-decoration: none;
}
nav a:hover {
	background-color: var(--color-strawberry);
}
nav a:focus {
	background-color: var(--color-strawberry-d);
}
nav a:active {
	background-color: var(--color-strawberry-l);
}
/***************
search I know it is not ideal but it IS there!
***************/
input[type="search"] {
	border: 0;
	border-radius: .5rem;
	float: right;
	font-size: .95rem;
	margin-top: 0;
	outline: 0;
}
/***************
links
***************/

a, a:visited {
	color: var(--color-strawberry-d);
	text-decoration: none;
}
a:focus {
	color: var(--color-strawberry);
}
a:active {
	color: var(--color-mint-l);
}
a:hover {
	color: var(--color-chocolate);
}
/***************
svg
***************/
.color-swatch {
	padding: 0 1rem;
}
/**********
footer
*****************/

/*=======================================
responsive stuff
========================================*/

img{
	max-width: 100%;
	height: auto; 
}

@media screen and (max-width:50rem){
	h1{
		font-size: 2rem;
	}
	header{
		font-size: 1rem;
		padding: 0;
	}
	nav {
		font-size: 1rem;
		padding: 0;
	}
}